/i2e1_Big_Bazaar.pdf

/logs.tar.gz

/real-time-location-tracking.sublime-project

/real-time-location-tracking.sublime-workspace

/bin/

/include/

/lib/

/spencers_data/images/circles_micromax_X-2_Y0.png

/spencers_data/images/circles_micromax_X-2_Y0.png

/spencers_data/images/circles_micromax_X-2_Y0.png

/spencers_data/images/circles_micromax_X-2_Y0.png

/spencers_data/10.log

/spencers_data/11.log

/spencers_data/12.log

/spencers_data/13.log

/spencers_data/14.log

/spencers_data/Spencer's Layout.pdf

/spencers_data/Spencer's Layout.xml

/spencers_data/Spencers collected data.xlsx

/spencers_data/mac.xlsx

/spencers_data/spencers.pdf

/plots/

/__pycache__/

*.zip
*.tar.gz
spencers/
spencers_data/images/
spencers_data/validation_data/
real-time-location-tracking/
best_mac_mod_logs/

/pip-selfcheck.json
